<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NykvarnsFrukt.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="top-navbar toggle">
            <span class="nav-wrapper toggle">
                <img class="logotype toggle" src="images/NFOG-logo.svg" onclick="location.href='/Index'" alt="Nykvarns frukt och grönt logo" />
                <input autocomplete='off' type="checkbox" id="toggle" onclick="expandCollapseNav()" class="input-toggler toggle" unchecked>
                <label for="toggle" id="check" class="menu-toggler toggle">
                    <span class="menu-toggler-line toggle" id="first-line"></span>
                    <span class="menu-toggler-line toggle" id="second-line"></span>
                    <span class="menu-toggler-line toggle" id="third-line"></span>
                </label>

              @*  Desktop menu*@
                <ul class="nav-bar">
                    <li class="link-item" id="Index" onclick="location.href='/Index'"><h4>Hem</h4></li>
                    <li class="link-item" id="Products" onclick="location.href='/Products'"><h4>Produkter</h4></li>
                    <li class="link-item" id="Store" onclick="location.href='/Store'"><h4>Vår butik</h4></li>
                    <li class="link-item" id="About" onclick="location.href='/About'"><h4>Om oss</h4></li>
                    <li class="link-item" id="Contact" onclick="location.href='/Contact'"><h4>Kontakta oss</h4></li>
                </ul>
            </span>
        </nav>
        <ul class="nav-dropdown nav-collapse toggle" id="nav-dropdown">
            <li class="link-item toggle" id="Index" onclick="location.href='/Index'"><h4 class="toggle">Hem</h4></li>
            <li class="link-item product-nav toggle" id="Products"><h4 style="width:70%" class="toggle" onclick="location.href='/Products'">Produkter</h4><div id="arrow-container" class="toggle" onclick="expandProductNav()"><h4 class="arrow-right toggle" id="arrow-icon">></h4></div></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#fruit'"><h5 class="toggle">Frukt och grönsaker</h5></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#flowers'"><h5 class="toggle">Växter och blommor</h5></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#fish'"><h5 class="toggle">Fisk och skaldjur</h5></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#egg'"><h5 class="toggle">Ägg och honung</h5></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#bread'"><h5 class="toggle">Bröd och bullar</h5></li>
            <li class="product-link under-nav-collapse toggle" onclick="location.href='/Products#season'"><h5 class="toggle">Säsongsbaserat sortiment</h5></li>
            <li class="link-item toggle" id="Store" onclick="location.href='/Store'"><h4 class="toggle">Vår butik</h4></li>
            <li class="link-item toggle" id="About" onclick="location.href='/About'"><h4 class="toggle">Om oss</h4></li>
            <li class="link-item toggle" id="Contact" onclick="location.href='/Contact'"><h4 class="toggle">Kontakta oss</h4></li>
        </ul>

    </header>
    <main role="main">
        <div class="site-wrapper">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="footer-div">
            <h6>Nykvarns frukt och grönt AB</h6>
            <p class="footer-small-text">Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.</p>
            <p class="footer-small-text">Mail: <span>mailen@mail.se</span></p>
            <p class="footer-small-text">Tel: <span>010-1605403</span></p>
            <p class="footer-small-text">Orgnr: <span>559348-7100</span></p>
            <p class="footer-xsmall-text">&copy; Nykvarns frukt och grönt AB. <span> Web by: Gustav Falk</span></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @* </div>*@
</body>
</html>