<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NykvarnsFrukt</title>
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NykvarnsFrukt.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="top-navbar">
            <img class="logotype" src="images/NFOG-logo.svg" asp-page="/Index" />
            <input type="checkbox" id="toggle" onclick="expandCollapseNav()" class="input-toggler" unchecked>
            <label for="toggle" class="menu-toggler">
                <span class="menu-toggler-line"></span>
                <span class="menu-toggler-line"></span>
                <span class="menu-toggler-line"></span>
            </label>
        </nav>
        <ul class="nav-dropdown nav-collapse" id="nav-dropdown">
            <li class="link-item" href=""><h4>Hem</h4></li>
            <li class="link-item product-nav"><h4>Produkter</h4><div id="arrow-container" onclick="expandProductNav()"><h4 class="arrow-right" id="arrow-icon">></h4></div></li>
            <li class="product-link under-nav-collapse"><h5>Frukt och grönsaker</h5></li>
            <li class="product-link under-nav-collapse"><h5>Växter och blommor</h5></li>
            <li class="product-link under-nav-collapse"><h5>Fisk och skaldjur</h5></li>
            <li class="product-link under-nav-collapse"><h5>Ägg och honung</h5></li>
            <li class="product-link under-nav-collapse"><h5>Bröd och bullar</h5></li>
            <li class="product-link under-nav-collapse"><h5>Säsongsbaserat sortiment</h5></li>
            <li class="link-item"><h4>Vår butik</h4></li>
            <li class="link-item"><h4>Om oss</h4></li>
            <li class="link-item"><h4>Kontakta oss</h4></li>
        </ul>
        @*      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">NykvarnsFrukt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>*@
    </header>
    <main role="main" >
        <div class="site-wrapper">
        @RenderBody()
        </div>
    </main>
    <footer>
        <div class="footer-div">
            <h6>Nykvarns frukt och grönt AB</h6>
            <p class="footer-small-text">Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.</p>

            <p class="footer-small-text">Mail: <span>mailen@mail.se</span></p>
            <p class="footer-small-text">Tel: <span>010-1605403</span></p>
            <p class="footer-small-text">Orgnr: <span>559348-7100</span></p>

            <p class="footer-xsmall-text">&copy; Nykvarns frukt och grönt AB. <span> Web by: Gustav Falk</span></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @* </div>*@
</body>
</html>