@page
@{
    ViewData["Title"] = "Om oss - Nykvarns frukt och grönt";
}
<div class="about-wrapper">
    <div class="about-us-card">
        <div class="image-container">
            <img src="/images/ROMPA.jpg" alt="Bild på Ronny, Nykvarns frukt och grönt" />
        </div>
        <div class="text-container">
            <h1>Om oss</h1>
            <h5>Sedan 2009 så har Nykvarns frukt och grönt varit i familjen Nilssons regi. Sedan dess har tusentals leveranser körts till hotell, resturtanger och företag i Nykvarn med omnejd och otaliga ton frukt och grönt har passerat ut genom dörrarna i vår butik.</h5>
        </div>
    </div>

    <div class="history-section">
        <div class="image-section">
            <div class="inner-section-card" id="center-green"></div>
            <div class="inner-section-card" id="upper-right-green"></div>
            <div class="inner-section-card" id="lower-left-green"></div>
            <div class="inner-section-card" id="upper-right-image">
                <img src="/images/341436779_893830705039757_7534292831754859891_n.jpg" alt="Bild på Sven, Gammal torgbild" />
            </div>
            <div class="inner-section-card" id="lower-left-image">
                <img src="/images/sven-bland- tomater.jpg" alt="Bild på Sven, Gammal bild bland tomater" />
            </div>

        </div>
        <div class="text-section">
            <h2 class="green">Frukt och grönt i generationer</h2>
            <h5> Frukt och grönt har varit i familjen Nilssons ådror sedan flera generationer. Familjen har drivit Nydala handelsträdgård samt Lina handeslträdgård i Södertälje, och även varit flitiga torghandlare. Även flera blomsteraffärer har drivits av familjen.</h5>
        </div>
    </div>
</div>
<div class="about-footer">
    <img src="/images/IMG_20200427_063421.jpg" alt="Bakgrundsbild" />
    <div class="footer-text">
        <h2 class="green">Idag</h2>
        <h5>
            År 2019 stängde Nykvarns frukt och grönt igen portarna till sitt café och butik i centrala Nykvarn. Detta för att fokusera mer på leveranser samt för att få mer tid med nytillkomna generationer. <span class="green">Men</span> tack vare stor efterfrågan så gjorde Nykvarns frukt och grönt några pop-up framträdande för att till slut ha öppet två dagar i veckan i sina nuvarande lokaler.
        </h5>
    </div>
</div>

