@page
@{
    ViewData["Title"] = "Kontakta oss - Nykvarns frukt och grönt";
}
<div class="contact-wrapper">
    <div class="contact-section">
        <div class="contact-green-card">
            <h3>Beställa?</h3>
            <div class="contact-buttons">
                <button class="contact-btn desktop-hide" id="phone-btn"><img src="/images/telephone.svg" alt="Telefonikon" />TELEFON</button>
                <button class="contact-btn" id="mail-btn-order"><img src="/images/email.svg" alt="Emailikon" />E-MAIL</button>
            </div>
        </div>

        <div class="contact-white-card">
            <div class="contact-text">
                <h4>Kontakta oss</h4>
                <h5 class="green">Om du har några frågor, tveka inte på att höra av dig.</h5>
            </div>
            <div class="contact-row">
                <img id="mail-btn" src="/images/mail-green.png" alt="Emailikon" />
                <div>
                    <h6 class="green">E-mail</h6>
                    <h6>Nykvarnsfrukt@gmail.com</h6>
                </div>
            </div>
            <div class="contact-row">
                <img id="phone-btn" src="/images/phone-green.png" alt="Telefonikon" />
                <div>
                    <h6 class="green">Telefon</h6>
                    <h6>010-160 54 03</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <div id="facebook" class="facebook">
            <img src="/images/Facebook-01.png" alt="Facebook ikon" />
            <h3>Följ oss gärna på facebook</h3>
            <h6 class="green">facebook.com/nykvarnsfrukt</h6>
        </div>
    </div>
</div>