@page
@{
    ViewData["Title"] = "Nykvarns frukt och grönt - Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.";
}
<div class="landing-green-card">
    <div class="ladning-upper-section">
        <div class="round-image">
            <img src="/images/IMG_5066.jpg" alt="Bild på Ronny Nilsson, Nykvarns frukt och grönt" />
        </div>
    </div>
    <div>
        <h3>Nykvarns frukt och grönt</h3>
        <h2>Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.</h2>
        <div class="contact-buttons">
            <button class="contact-btn" id="phone-btn"><img src="/images/telephone.svg" alt="Telefonknapp" />TELEFON</button>
            <button class="contact-btn" id="mail-btn"><img src="/images/email.svg" alt="Email knapp" />E-MAIL</button>
        </div>
    </div>
</div>
<div class="open-hours-find-us">
    <div class="opening-hours">
        <img src="/images/IMG_5029.jpg" alt="Bakgrundsbild" />
        <div class="green-overlay">
            <h5 class="opening-hours-title">Öppettider</h5>
            <h5>Fredagar</h5>
            <h4>12:00 - 17:00</h4>
            <h5>Lördagar</h5>
            <h4>10:00 - 14:00</h4>
        </div>
    </div>

    <div class="find-us">
        <div class="adress-description">
            <h5 class="adress-title">Hitta till vår butik</h5>
            <h4 class="adress-text">Södertäjevägen 20</h4>
            <h4 class="adress-text">Nykvarn</h4>
        </div>
        <div id="store-icon" class="store-icon">
            <img src="/images/store-icon.svg" alt="Butiksikon" />
        </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8175.256208611291!2d17.4530232!3d59.1856871!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f110782ea264b%3A0x9141d0fa683cfe99!2sNykvarns%20Frukt%20Och%20Gr%C3%B6nt!5e0!3m2!1ssv!2sse!4v1687895900659!5m2!1ssv!2sse" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


