@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="landing-green-card">
    <div class="ladning-upper-section">
        <div class="round-image">
            <img src="/images/ROMPA.jpg" />
        </div>
    </div>
    <h3>Nykvarns frukt och grönt</h3>
    <h2>Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.</h2>
    <div class="contact-buttons">
        <button class="contact-btn" id="phone-btn"><img src="/images/telephone.svg"/>TELEFON</button>
        <button class="contact-btn" id="mail-btn"><img src="/images/email.svg" />E-MAIL</button>
    </div>
</div>


