@page
@{
    ViewData["Title"] = "Nykvarns frukt och grönt - Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.";
}

<div class="landing-green-card">
    <div class="ladning-upper-section">
        <div class="round-image">
            <img src="/images/ROMPA.jpg" alt="Bild på Ronny Nilsson, Nykvarns frukt och grönt" />
        </div>
    </div>
    <h3>Nykvarns frukt och grönt</h3>
    <h2>Familjedriven leverantör av frukt, grönt och färskvaror i Nykvarn med omnejd.</h2>
    <div class="contact-buttons">
        <button class="contact-btn" id="phone-btn"><img src="/images/telephone.svg" alt="Telefonknapp" />TELEFON</button>
        <button class="contact-btn" id="mail-btn"><img src="/images/email.svg" alt="Email knapp" />E-MAIL</button>
    </div>
</div>

<div class="opening-hours">
    <img src="/images/morocco-3794323.jpg" alt="Bakgrundsbild" />
    <div class="green-overlay">
        <h5 class="opening-hours-title">Öppettider</h5>
        <h5>Fredagar</h5>
        <h4>12:00 - 17:00</h4>
        <h5>Lördagar</h5>
        <h4>10:00 - 14:00</h4>
    </div>
</div>

<div class="find-us">
    <div class="adress-description">
        <h5 class="adress-title">Hitta till vår butik</h5>
        <h4 class="adress-text">Södertäjevägen 20</h4>
        <h4 class="adress-text">Nykvarn</h4>
    </div>
    <div id="store-icon" class="store-icon">
        <img src="/images/store-icon.svg" alt="Butiksikon" />
    </div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1021.9123679736093!2d17.453691068878705!3d59.18550845649088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f11a360624c9f%3A0x9d030636a7074021!2zU8O2ZGVydMOkbGpldsOkZ2VuIDIwLCAxNTUgMzIgTnlrdmFybg!5e0!3m2!1ssv!2sse!4v1683661883455!5m2!1ssv!2sse" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


