@page
@{
    ViewData["Title"] = "Produkter - Nykvarns frukt och grönt";
}

<div class="product-header">
    <div class="product-header-text">
        <h1>Produkter</h1>
        <h6>De produkter vi erbjuder är alltid av högsta kvalitet, med prioritering av närproducerat av lokala aktörer. </h6>
    </div>
    <img src="/images/market-1547290_1920.jpg">
</div>
<div class="page-wrapper">
    <div class="product-card">
        <img src="/images/vegetables-1085063_1920.jpg" />
        <h4>Frukt och grönsaker</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
    <div class="product-card">
        <img src="/images//tulips-3359902_1920.jpg" />
        <h4>Blommor och växter</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
    <div class="product-card">
        <img src="/images/seafood-165220.jpg" />
        <h4>Fisk och Skaldjur</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
</div>
<div class="page-wrapper">
    <div class="product-card">
        <img src="/images/honey-352205_1920.jpg" />
        <h4>Ägg och Honung</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
    <div class="product-card">
        <img src="/images/bread-399286_1920.jpg" />
        <h4>Bröd och Bullar</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
    <div class="product-card">
        <img src="/images/pumpkin-1768857_1920.jpg" />
        <h4>Säsongsbaserat</h4>
        <p>Förträfflig liten beskrivning kring alla fantastiska produkter som erbjuds. Kanske lite text kring hur,vad och till vem som det kan levereras gott till.</p>
    </div>
</div>