@page
@{
    ViewData["Title"] = "Produkter - Nykvarns frukt och grönt";
}

<div class="product-header">
    <div class="product-header-text">
        <h1>Produkter</h1>
        <h6>De produkter vi erbjuder är alltid av högsta kvalitet, med prioritering av närproducerat av lokala aktörer. </h6>
    </div>
    <img src="/images/market-1547290_1920.jpg" alt="Bakgrundsbild">
</div>
<div class="page-wrapper">
    <div id="fruit" class="product-card">
        <img src="/images/vegetables-1085063_1920.jpg" alt="Bild på grönsaker" />
        <h4>Frukt och grönsaker</h4>
        <p>Hos oss hittar ni alltid en salig blandning mellan frukt, grönsaker och rotfrukter. Det finns alltid ett grundsortiment på bla. potatis, bananer och tomater, men även sådant som är i säsong för tillfället.</p>
    </div>
    <div id="flowers" class="product-card">
        <img src="/images//tulips-3359902_1920.jpg" alt="Bild på blommor" />
        <h4>Blommor och växter</h4>
        <p>Vi har året om blommor och växter i alla möjliga kulörer. Vi löser blommorna till mors dag och arrangemang till bröllopp, även sådant som kan trivas ute i köksträdgården har vi lagom till utplantering.</p>
    </div>
    <div id="fish" class="product-card">
        <img src="/images/seafood-165220.jpg" alt="Bild på Fisk" />
        <h4>Fisk och Skaldjur</h4>
        <p>I kylen hittar ni räkort till den årliga frossan, sillen till julafton och rödingen till middagen. På hösten så erbjuder vi hinkvis med kräftor till våra kunders kräftkalas.</p>
    </div>
</div>
<div class="page-wrapper">
    <div class="product-card">
        <img id="egg" src="/images/honey-352205_1920.jpg" alt="Bild på honung" />
        <h4>Ägg och Honung</h4>
        <p>Kartvis med bruna och vita ägg har vi hos oss, direkt från frigående höns på ÄGGSTÄLLET, redo för pochering. Närproducerad honung på burk finns också det, från honungsmänniskor.</p>
    </div>
    <div id="bread" class="product-card">
        <img src="/images/bread-399286_1920.jpg" alt="Bild på bröd" />
        <h4>Bröd och Bullar</h4>
        <p>Vi är inget bageri, men tack vare våra vänner på Taxinge Slott så erbjuder vi tillgång till deras färska bullar och bröd i våran butik. Få saker smakar så gott som fika med Taxinges bullar.</p>
    </div>
    <div id="season" class="product-card">
        <img src="/images/pumpkin-1768857_1920.jpg" alt="Bild på uteväxter" />
        <h4>Säsongsbaserat</h4>
        <p>Till Jul erbjuder vi både små och stora granar att ta hem för att pynta. Dekorationspumpor har vi på hösten. På somrarna har vi ett varierat utbud av buskar, träd och klätterväxter för utomhusmiljöer.</p>
    </div>
</div>