@page
@{
    ViewData["Title"] = "Butik - Nykvarns frukt och grönt";
}
<div class="store-header">
    <img src="/images/vegetable-2573149_1920.jpg" alt="Bakgrundsbild" />
    <div class="green-overlay">
        <h6>Vår Butik</h6>
        <p>
            I vår butik erbjuder vi allt mellan färska frukter till närproducerade rotfrukter och grönsaker. Alltid med personlig service och våra kunders behov i fokus.
        </p>
    </div>
</div>
<div class="store-info">
    <div class="store-info-card">
        <img src="/images/fruit-stand-g8950b1837_1920.jpg" alt="Bild inne i butiken" />
        <h3>Inomhus</h3>
        <p>Inomhus har vi alltid ett basutbud av frukt, grönsaker, rotfrukter och ägg. Med olika tillskott beroende på säsong.</p>
    </div>
    <div class="store-info-card">
        <img src="/images/fruit-stand-g8950b1837_1920.jpg" alt="Bild utanför butiken" />
        <h3>Utomhus</h3>
        <p>Utomhus har vi dekorationer och lite annat säsongsbaserat smått och gott. Tex. utomhusväxter eller Julgranar.</p>
    </div>
</div>
<div class="direction-and-openhours">
    <div class="store-opening-hours">
        <div class="image-with-green-cards">
            <div class="light-green-card"></div>
            <div class="standard-green-card"></div>
            <img src="/images/market-1547290_1920.jpg" alt="Bakgrundsbild" />
        </div>
        <div class="open-hours-text">
            <h5 class="green">Vi har öppet</h5>
            <h5 class="bold">Fredagar</h5>
            <h5>12:00 - 17:00</h5>
            <h5 class="bold">Lördagar</h5>
            <h5>10:00 - 14:00</h5>
            <p>(Kan variera)</p>
        </div>
    </div>
    <div class="store-direction-card">
        <div class="store-directions">
            <h5 class="bold green">Hitta hit</h5>
            <h5 class="bold">Södertäljevägen 20</h5>
            <h5 class="bold">Nykvarn</h5>
            <p>Bredvid Lådbilslandet</p>
        </div>
        <img id="store-icon" src="/images/store-icon.svg" alt="Butiksikon" />
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1021.9123679736093!2d17.453691068878705!3d59.18550845649088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f11a360624c9f%3A0x9d030636a7074021!2zU8O2ZGVydMOkbGpldsOkZ2VuIDIwLCAxNTUgMzIgTnlrdmFybg!5e0!3m2!1ssv!2sse!4v1683661883455!5m2!1ssv!2sse" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>