.store-header {
    width: 100vw;
    margin: -28px -28px 0 -28px;
    height: 288px;
    position: relative;
}

    .store-header img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

.green-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--overlay-green-card);
    top: 28px;
    left: 28px;
    border-radius: 10px;
    width: 168px;
    height: 232px;
    justify-content: center;
    padding: 0 16px;
    gap: 5px;
}

    .green-overlay .black {
        font-weight: 500;
        color: black;
    }


    .green-overlay h5 {
        font-weight: 600;
        color: #fff;
    }



.store-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.store-info-card {
    width: auto;
    background: #fff;
    box-shadow: var(--white-card-box-shadow);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 28px;
    gap: 5px;
    position: relative;
    justify-content: end;
    flex: 1;
}


    .store-info-card img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        margin: -50px 0 5px 0;
        object-fit:cover;
    }

    .store-info-card h3 {
        color: var(--main-green);
    }

.direction-and-openhours {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px 0;
}

.store-opening-hours {
    display: flex;
    flex: 1;
}

.image-with-green-cards {
    flex: 2;
    position: relative;
}

.light-green-card {
    background: var(--item-green-card-opacity);
    width: 90%;
    height: 90%;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.standard-green-card {
    background: var(--main-green);
    width: 90%;
    height: 90%;
    border-radius: 2px;
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.image-with-green-cards img {
    width: 90%;
    height: 90%;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.open-hours-text {
    flex: 1;
    text-align: center;
    padding: 17px 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

    .open-hours-text p {
        font-size: 14px;
    }


.store-direction-card {
    display: flex;
    padding: 20px 10px;
    position: relative;
    justify-content: space-between;
    flex: 1;
}

    .store-direction-card img {
        height: 100%;
        width: auto;
        position: absolute;
        right: 0;
        top: 0;
        cursor:pointer;
    }


/*--------Map--------*/

.map {
    position: relative;
    overflow: hidden;
    height: 333px;
    margin: 0 -28px -28px -28px;
    box-shadow: var(--white-card-box-shadow);
}

    .map iframe {
        position: absolute;
        height: 100%;
        width: 100%;
    }

.green {
    color: var(--main-green);
}

.bold {
    font-weight: 700;
}

@media (min-width: 1000px) {

    .store-header {
        width: 100%;
        margin: 0;
        height: 250px;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: var(--white-card-box-shadow);
    }

    .green-overlay {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: var(--overlay-green-card);
        top: 28px;
        left: 28px;
        bottom: 28px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        justify-content: center;
        gap: 10px;
    }

    .store-info {
        flex-direction: row;
        gap: 25px;
    }

    .store-info-card img {
          width: 100%;
        height: 300px;
        border-radius: 10px;
        margin: -50px 0 5px 0;
        object-fit:cover;
    }


    .direction-and-openhours {
        flex-direction: row-reverse;
        gap: 25px;
        height: 280px
    }

    .image-with-green-cards {
        flex: 2;
        position: relative;
    }

    .light-green-card {
        background: var(--item-green-card-opacity);
        width: 90%;
        height: 90%;
        border-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .standard-green-card {
        background: var(--main-green);
        width: 90%;
        height: 90%;
        border-radius: 2px;
        margin: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .image-with-green-cards img {
        width: 90%;
        height: 90%;
        border-radius: 2px;
        bottom: 0;
        left: 0;
        position: absolute;
        object-fit: cover;
    }

    .store-opening-hours {
        display: flex;
        flex: 3;
    }

    .open-hours-text {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

        .open-hours-text p {
            font-size: 16px;
        }

    .store-direction-card {
        display: flex;
        flex-direction:column-reverse;
        padding: 0;
        position: relative;
        justify-content: center;
        flex: 1;
        text-align:center;
        gap:10px;
    }

      .store-direction-card img {
        height: 60%;
        width: auto;
        position: relative;
        right: unset;
        top: unset;
    }

    .map {
      width:100%;
      margin:0 0 -28px 0;
    }
}


