:root {
    --navAndFoot-background: linear-gradient(180deg, #0C0C0C 0%, #2C2C2C 100%);
    --light-green-background: linear-gradient(68.21deg, #F7FFF0 0%, #EDFFDE 100%);
    --main-green: #5FCE08;
    --second-green: #DAF6C4;
    --third-green: #F7FDF2;
    --main-green-gradient: linear-gradient(270.27deg, #5FCE08 2.05%, #AEE782 100.21%);
    --item-green-card-opacity: rgba(135, 225, 64, 0.5);
    --overlay-green-card: rgba(95, 206, 8, 0.85);
    --green-card-box-shadow: 0px 0px 6px 2px rgba(135, 225, 64, 0.4);
    --white-card-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Louis George Cafe';
    cursor: default;
    outline: none;
}
*:focus {
    outline: none;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    margin:0;
}

h2 {
   
    font-size: 24px;
    font-weight:700;
    line-height: 26px;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

li {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

legend, label, input, ul, li {
    margin: 0;
    padding: 0;
}




@media (min-width: 768px) {
  html {
    /*font-size: 16px;*/
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  /*box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

html {
    position: relative;
    min-height: 100%;
    background: var(--light-green-background);
}

body {
    
    margin: 0;
    width: 100%;
    padding:0;
}